CompileFlags:
  Add: [
    -Isrc/cuda,
    -Wno-implicit-function-declaration
  ]

---
If:
  PathMatch: .*\.cu
CompileFlags:
  Add: [
    -xcuda,
    -nocudainc,
    -nocudalib,
    "-D__shared__=",
    "-D__global__=",
    "-D__restrict__=",
    "-D__device__=",
    "-D__host__=",
    "-DSHARED_MEM="
  ]

---
If:
  PathMatch: .*\.(cpp|c|h|hpp)
CompileFlags:
  Remove: [-xcuda]
